/*列表头*/
.mui-content > .mui-table-view:first-child {
    margin-top: 0 !important;
}

.input-value {
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 100px;
    right: 30px;
    text-align: right;
}

/*单位*/
.danWei {
    padding: 0;
    font-size: 17px;
    color: #9C9C9C;
    height: 40px;
    line-height: 40px;
    width: 50px;
    position: absolute;
    right: 0;
    text-align: right;
}

/*每个部分*/
.mui-table-view-cell {
    padding: 8px 15px;
}

/*每个部分的多了个下划线*/
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: transparent;
}

/*整体的那个下划线*/
.mui-table-view:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: transparent;
}

/*整体的那个上划线*/
.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: transparent;
    top: -1px;
}

.border-bottom {
    border-bottom: 1px solid #F7F7F7;
}

/*清除样式*/
.mui-input-row .mui-input-clear ~ .mui-icon-clear {
    top: 9px;
    right: 30px;
}

/*称重时间*/
#time {
    width: 100%;
    color: #464646;
}

/*称重日期*/
#date {
    width: 100%;
    color: #464646;
}

/*按钮盒子*/
.btnDiv {
    margin: 0;
    text-align: center;
    padding: 20px;
}

.subBtn {
    padding: 10px 100px;
    background-color: #2494F3 !important;
    border: #2494F3 !important;
}

/*折线图*/
#chart {
    height: 40vw;
}

.chart-unit {
    width: 100%;
    text-align: right;
    color: #CCCCCC;
    font-weight: 600;
    font-size: 10px;
}

/*移除底部或顶部三角,需要在删除此代码*/
.mui-popover .mui-popover-arrow:after {
    width: 0;
}

/*弹出层*/
#light {
    top: 25% !important;
    height: 200px;
    box-shadow: rgba(0,0,0,.5) 0 0.625rem 1.125rem;
}

#heavy {
    top: 25% !important;
    height: 200px;
    box-shadow: rgba(0,0,0,.5) 0 0.625rem 1.125rem;
}

.popoverImg {
    background: url(../../../edema/resources/img/popoverImg.png) no-repeat center center;
    background-size: cover;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popoverFont {
    height: 50px;
    line-height: 65px;
    text-align: center;
    font-size: 20px;
}

.popoverVal {
    height: 50px;
    line-height: 35px;
    text-align: center;
}

#popoverLight {
    font-size: 28px;
    color: #2896F3;
}

#popoverHeavy {
    font-size: 28px;
    color: #2896F3;
}

.popoverDanWei {
    font-size: 18px;
}

.mui-navigate-right:after, .mui-push-right:after {
    right: 5px !important;
    content: '\e583';
}